.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 200px;
}

.login{
    padding: 0px 10px;
    cursor: pointer;
    
     
}
.nav-items > ul {
    padding: 10px;
    display:flex;
    list-style-type: none;
    font-size: 20px;
    

}
.nav-items > ul > li:hover{
    color: black;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}
.ReastaurantContainer{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    margin: 10px;
    text-align: center;
    width: 200px;
    padding: 5px;
    /* height: 500px; */

    
    /* padding-top: 2px; */
}
.res-card:hover {
    cursor: pointer;
    border: 1px solid rgb(128, 237, 12);
}

.search{
    padding: 10px;
}

.res-logo{
    height: 200px;
   width: 190px; 
   border: 2px solid rgb(170, 152, 187);
}
.filter-btn{
    margin: 15px;
    padding: 5px;
    cursor: pointer;
    /* border: 1px solid rgb(27, 20, 20); */
    display: flex;
    justify-content: space-around;
    
    /* flex-wrap: wrap; */
}
.filter-btn:hover{
    border: 2px solid greenyellow;
}



.footer-logo{
    height: 200px;
    width: 200px;
}
.footer-container{
    background-color: white;
    height: 400px;
}

.quick-links{
    display: flex;
    justify-content: space-around;
    color: rgb(8, 8, 8);
}

.social-links{
    /* justify-content: space-between; */
    text-align: center;
    height: 200px;
    background-color: whitesmoke;
}

.social-links > a {
    justify-content: space-between;
}

.shimmer-card{
    padding: 5px;
    margin: 5px;
    width: 190px;
    height: 400px;
    background-color: rgb(232, 240, 240);
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    
}

.filter{
    display: flex;
}




/* src/components/Footer.css */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer .social-links {
    margin-bottom: 10px;
  }
  
  .footer .social-links a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
  }
  
  .footer .social-links a:hover {
    color: #04a0d9; /* Customize hover color */
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  
  .links{
    color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
  }

  .links-icon{
    height: 40px;
    width: 40px;
    color: black ;
  }
  .error-text{
    color: rgb(47, 6, 89);
  }