.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 200px;
}
.nav-items > ul {
    display:flex;
    list-style-type: none;
    font-size: 20px;

}
.nav-items > ul > li:hover{
    border: 2px solid rgb(208, 70, 93) ;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    margin: 5px;
    text-align: center;
    width: 200px;
    /* height: 500px; */

    
    /* padding-top: 2px; */
}
.res-card:hover {
    cursor: pointer;
    border: 1px solid rgb(128, 237, 12);
}

.search{
    padding: 10px;
}

.res-logo{
    
   width: 190px; 
}
.filter-btn{
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
}
.filter-btn:hover{
    border: 2px solid greenyellow;
}



.footer-logo{
    height: 200px;
    width: 200px;
}
.footer-container{
    background-color: rgb(7, 7, 7);
    height: 400px;
}

.quick-links{
    display: flex;
    justify-content: space-around;
    color: white;
}

.social-links{
    text-align: center;
    height: 200px;
    background-color: azure;
}